/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2024 Daniyal Muhammad Khan
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /* 
       Colors
  */

  /* Backgrond Colors */
  --bg-white: hsl(0, 0%, 100%);
  --bg-black-alpha-20: hsla(0, 0%, 0%, 0.2);
  --bg-lavender-blush: hsl(0, 100%, 98%);
  --bg-majorelle-blue: hsl(249, 95%, 63%);
  --bg-ocean-blue: hsl(249, 63%, 54%);
  --bg-majorelle-blue-alpha-5: hsla(249, 95%, 63%, 0.05);
  --bg-misty-rose: hsl(0, 100%, 95%);
  --bg-red-salsa: hsl(357, 94%, 63%);
  --bg-red-salsa-alpha-5: hsla(357, 94%, 63%, 0.05);
  --bg-english-vermillion: hsl(357, 64%, 53%);
  --bg-chrome-yellow-alpha-5: hsla(40, 100%, 50%, 0.05);
  --bg-sunglow-alpha-10: hsla(48, 100%, 50%, 0.1);
  --bg-gainsboro: hsl(0, 0%, 85%);


  /*  Font Color  */

  --text-white: hsl(0, 0%, 100%);
  --text-gunmetal: hsl(209, 40%, 14%);
  --text-light-coral: hsl(357, 96%, 73%);
  --text-granite-gray: hsl(210, 4%, 38%);
  --text-majorelle-blue: hsl(249, 95%, 63%);
  --text-sunglow: hsl(48, 100%, 50%);


  /* Border Color  */
  --border-gainsboro: hsl(0, 1%, 85%);

  /* 
      TYPOGRAPHY SETTINGS
  */


  /* Font Family */
  --ff-poppins: 'Poppins', sans-serif;

  /* Font Sizes  */
  --fontSize-1: 4.2rem;
  --fontSize-2: 3.6rem;
  --fontSize-3: 2.5rem;
  --fontSize-4: 2.4rem;
  --fontSize-5: 2rem;
  --fontSize-6: 1.6rem;
  --fontSize-7: 1.5rem;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semiBold: 600;
  --weight-medium: 500;

  /* Section Spacing */
  --section-spacing: 80px;


  /* Shadows */
  --shadow-1: 0 2px 10px hsla(209, 40%, 14%, 10%);
  --shadow-2: 0 5px 10px hsla(249, 95%, 63%, 25%);
  --shadow-3: 0 5px 10px hsla(357, 64%, 53%, 25%);
  --shadow-4: 0 30px 50px hsla(357, 64%, 53%, 30%);

  /* Border Radius */
  --radius-pill: 200px;
  --radius-circle: 50%;
  --radius-30: 30px;
  --radius-20: 20px;


  /* Transitions  */
  --transition-fast: 250ms ease;
  --transition-slow: 500ms ease;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { 
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

html {
  font-family: var(--ff-poppins);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-lavender-blush);
  color: var(--text-granite-gray);
  font-size: var(--fontSize-6);
  line-height: 1.8;
}


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/





/*-----------------------------------*\
  #PRELOADER
\*-----------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-lavender-blush);
  display: grid;
  place-items: center;
  z-index: 6;
  transition: var(--transition-fast);
}

.preloader.remove {
  visibility: hidden;
  opacity: 0;
}

.preloader .img {
  animation: bounce 800ms ease-in-out infinite alternate;
}

@keyframes bounce {
  0% {transform: translateY(-50%);}
  100% {transform: translateY(0);}
}

.preloader-inner {
  position: relative;
}

.preloader-inner::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 80%;
  height: 10px;
  filter: blur(4px);
  background-color: var(--bg-black-alpha-20);
  z-index: -1;
  animation: dropShow 800ms ease-in-out infinite alternate;

}

@keyframes dropShow {
  0% {width: 40%;}
  100% {width: 80%;}
}




/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/





/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/





/*-----------------------------------*\
  #DESTINATION
\*-----------------------------------*/





/*-----------------------------------*\
  #EXPERIENCE
\*-----------------------------------*/





/*-----------------------------------*\
  #GALLERY
\*-----------------------------------*/





/*-----------------------------------*\
  #CTA
\*-----------------------------------*/





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/